@model IEnumerable<MovieAdministrator.Models.Actor>

@{
    ViewData["Title"] = "Actors";
}

<h2>Actors</h2>

<p>
    <a asp-action="Create" class="btn bg-primary">Add actor</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
			<td>
				<a asp-action="Edit" class="btn-sm btn-primary" asp-route-id="@item.ID"><span class="glyphicon glyphicon-edit" /></a>
				<a asp-action="Details" class="btn-sm btn-info" asp-route-id="@item.ID"><span class="glyphicon glyphicon-open" /></a>
				<a asp-action="Delete" class="btn-sm btn-danger" asp-route-id="@item.ID"><span class="glyphicon glyphicon-trash" /></a>
			</td>
        </tr>
}
    </tbody>
</table>
